<template name="roomPage">
  <div id="chat-room" class="container-fluid">
    <div class="row-fluid" style="height:100%">
      <div id="chat" class="col-md-10 col-sm-10 col-xs-12" style="height:100%; position:">
        <div id="video" >
          <div id="myPublisherDiv">
            
          </div>
        </div>
	
        <div id="chat-text" style="height:200px; position:absolute; bottom: 2px;">
          <div id="chat-messages">
            {{#each messages}}
              <pre>{{senderName}}: {{chatMessage}}</pre>
            {{/each}}
          </div>
	  
          <div id="chat-input">
            <form id="chat-form">
              <input name="chatInput" type="text"/>
              <input id="enter" type="submit" value="Enter" class="btn btn-primary"/>
            </form>
          </div>
        </div>
      </div>
      
      <div id="panel" class="col-md-2 col-sm-2 hidden-xs">
        <div id="pomodoro-timer">
          <div id="timer" class="timer">
            {{time}}
          </div>
          <form class="form-inline" role="form">
            <div id="timer-control" class="form-group">
              <button id="start" class="btn btn-primary">start</button>
              <button id="break" class="btn btn-primary">break</button>
              <button id="stop" class="btn btn-primary">stop</button>
            </div>
            
            <div id="pomo-break" class="form-group">
              <label class="sr-only" for="pomoMin">Pomodoro</label>
              <input id="pomoMin" type="text" placeholder="Pomodoro Minutes"/>
              <br>
              <label class="sr-only" for="breakMin">Break</label>
              <input id="breakMin" type="text" placeholder="Break Minutes"/>  
            </div>
          </form>
        </div>
	
        <div id="user-list">
          <ul>
            {{#each users}}
              <li>{{this.username}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
      
    </div>
  </div>
</template>
