html, body, #chat-room {
  height: 100%;
}
body {
  padding-top: 70px;
  padding-bottom: 30px;
}

#pomo-break label{
  display: inline-block;
  float: left;
}

#pomo-break input{
  display: inline-block;
  width:100%;
}

#timer { border: 1px solid #EEE; border-radius: 0.5em; font-size: 4em; display: inline-block; margin: 0.5em 0; padding: 0.5em; }
